#container {
  /* Basisstyling */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  width: 100vw;
  height: 100vh;
}


#rahmen {
  /* Basisstyling */
  width: 750px;
  height: 50px;
  border: 3px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

#balken {
  /* Basisstyling */
  height: 100%;
  width: 0%;
  background-color: #888888;

  /* Animation */

}

/* Keyframes für die Animation "ladebalken" festlegen */
