#container {
  /* Layout */
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-items: center;
}

#spinner {
  /* Layout */
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: 30px 30px;

  grid-gap: 10px;

  place-items: center;

  /* Animation */


}

/* Keyframes für die Animation loadingSpinner */


/* Styling der einzelnen Quadrate */

.spinnerElement {
  width: 30px;
  height: 30px;
  background-color: lightblue;
}
