/* Basisstyling */
#container {
  width: 90vw;
  height: 200vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}

/* Basisstyling */
#box {
  width: 200px;
  height: 200px;
  background-color: #FF0000;
}
